/* Navbar1.css */

/* Add these styles to your existing CSS file */
/* Add your existing styles here */

.navbar1 {

  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  /* font-size: 20px; */
}

.transparent {
  background-color: transparent;
}

.solid {
  background-color: #0f071e;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.right-section ul {
  list-style: none;
  display: flex;
}

.right-section li {
  margin-right: 15px;
}

.right-section a,
.right-section button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.right-section a:hover,
.right-section button:hover {
  color: #ffd700;
  /* Change the color on hover */
}