.footer {
  background-color: #dfbe9e;
  color: rgb(0, 0, 0);
  font-family: "DM Serif Display", serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vh;
}

.footer-top-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-top-logo img {
  width: 60%;
  height: 60%;
}

.footer-cr {
  margin-top: 2vh;
}
.copyright {
  font-size: 0.9em;
  font-weight: 700;
}
