.footer {
  /* background-color: #dfbe9e; */
  background-image: linear-gradient(
    to right bottom,
    #561c24,
    #622a28,
    #6c382d,
    #764733,
    #7f563a,
    #81573b,
    #82593b,
    #845a3c,
    #804e37,
    #7b4134,
    #753532,
    #6d2932
  );
  color: rgb(0, 0, 0);
  font-family: "mono", sans-serif;
  font-size: 0.9em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vh;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 5vw; */
}

.footer-left {
  flex: 1;
}

.footer-left form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-left form input,
.footer-left form textarea {
  width: 70%;
  padding: 1vh 1vw;
  margin: 1vh 0;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.footer-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
}
.footer-top-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-left form input,
.footer-left form textarea {
  border: 2px solid #8bc34a;
  width: 70%;
  padding: 1vh 1vw;
  margin: 1vh 0;
  border: none;
  /* border-radius: 15px; */
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}

.footer-left form input:not(:focus),
.footer-left form textarea:not(:focus) {
  outline: none;
  border: 3px solid #8bc34a;
  /* background-color: #f6e9e9; */
}

.footer-left form input:focus,
.footer-left form textarea:focus {
  outline: none;
  border: 3px solid green;
  box-shadow: #dfbe9e;
  /* background-color: #f6e9e9; */
}

.footer-top-logo img {
  width: 60%;
  height: 60%;
}

.footer-cr {
  margin-top: 2vh;
}
.copyright {
  font-size: 0.9em;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .footer-left form input,
  .footer-left form textarea {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer-left {
    width: 85%;
    margin-bottom: 20px;
  }
  .footer-left form input,
  .footer-left form textarea {
    width: 100%;
  }

  .footer-top-logo img {
    width: 80%;
    height: 80%;
  }
}
