
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.faqPage{
  width: 500px;

}

.item{
  background: #e7f0e4;
  margin-bottom:5px; 
  padding:10px 20px;
}

.title{
  color:rgb(13, 193, 175);
  display:flex;
  justify-content: space-between;
  align-items:center;
  cursor:pointer;
}

.content{
  color: rgb(9, 73, 68);
  max-height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(1,0,1,0) ;
}

.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 1s cubic-bezier(1,0,1,0) ;
}
